<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">Dronito's</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li>
        <a href="/">Главная</a>
      </li>
      <li>
        <a href="/vapes">Вейпы</a>
      </li>
      <li>
        <a href="/liquids">Жидкости</a>
      </li>
      <li>
        <a href="/add">Добавить товар</a>
      </li>
    </ul>
  </div>
</nav>